.wrapper {
  background-color: #428e92;
  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .logo {
      display: flex;
      flex: 1;
      color: white;
    }
    .linksContainer {
      display: flex;
      flex: 1;
      justify-content: space-between;
      .links {
        color: white;
        transition: all 2s ease-in;
        &.active,
        &:hover {
          color: white;
          border-bottom: 1px solid white;
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
          text-decoration: none;
        }
      }
    }
  }
}
